@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa</h1>

    <p>Tuleva verkkosovellus, johon voi luoda käyttäjän, kirjautua sisään ja tehdä omia merkintöjä</p>
</div>
